asgiref==3.8.1
bandit==1.7.5
bcrypt==4.1.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coverage==7.3.2
cryptography==41.0.7
Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
dparse==0.6.4
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==21.3
pbr==6.1.1
Pillow==10.1.0
pluggy==1.6.0
pycparser==2.22
pycryptodome==3.19.0
Pygments==2.19.1
pyotp==2.9.0
pyparsing==3.2.3
pypng==0.20220715.0
pytest==7.4.3
pytest-django==4.7.0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
qrcode==7.4.2
requests==2.32.4
rich==14.0.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
safety==2.3.5
setuptools==80.9.0
smmap==5.0.2
sqlparse==0.5.3
stevedore==5.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0